body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wonder-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.wonder-container .wonder {
  flex-grow: 1;
}

.wonder-container #tree {
  background-color: #c7c7c7;
}

.wonder-container #leg {
  background-color: #a3a3a3;
}

.wonder-container #gut {
  background-color: #818181;
}

.footer {
  min-height: 10vh;
  background-color: #313131;
}