body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #000000;
}

.flexbox-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  pointer-events: none;
}

.wonder-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  pointer-events: none;
}

.wonder-container .wonder {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  pointer-events: all;
  transition: opacity, 0.85s;
}

.wonder-text {
  text-align: center;
  font-size: 5em;
  color: white;
}

.wonder#tree {
  background-image: url("../Home/pexels-tree.jpg");
}

.wonder#leg {
  background-image: url("../Home/pexels-leg.jpg");
}

.wonder#gut {
  background-image: url("../Home/pexels-gut.jpg");
}

.wonder.darken {
  opacity: 0.3;
}

.footer {
  height: 0vh;
  transition: height, 1s;
  background-color: #313131;
}

.footer.grow {
  height: 10vh;
}